/* body{
    text-align: center; 
   
  }

h1{
    color:white;
   text-align: center;
   text-shadow: 2px 2px 4px white;
   
}

.main_div{
    background-image: url("/public/img_background.webp")  ;
    height:100vh ;
    background-size: cover;
    position: relative;
    


}
.container{
   padding: 200px;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
    text-align: center;
    
   
}

.form{
    justify-content: center;  
}
.screen{
    width:300px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px  2px  rgb(183, 174, 174) ;


}
table{
   border: 1px solid white;
padding-top: 20px;
margin-top: 50px;
position: relative;

}
table tr{

    list-style: none;
    color:white;
    justify-content: space-between;
    margin-bottom: 20px;
}
table tr span{
    padding: 20px;
   
} */

body{
  text-align: center;   
  background-image: url("/public/img_background.webp");

  background-size: 100% 100%;
  background-size: cover;
  position: relative;   
}

h1{
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px white; 
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
}

.form{
  justify-content: center;  
}

.screen{
  width: 300px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(183, 174, 174);
}

table{
  position: absolute;
  width: 50px;
  top: calc(100vh - 400px + 50px);
  
}

tbody tr{
  list-style: none;
  color: white;
  justify-content: space-between;
  margin-bottom: 20px;
 
}
tr td {
  max-width: 200px; /* Adjust the maximum width of the table cells */
  word-wrap: break-word; /* Enable word wrapping within the cells */
  white-space: normal; /* Allow wrapping to occur */
}


 tr td span{
  display: block; /* Display the content in a block-level element */
  padding: 10px; /* Adjust the padding as needed */  
 
}
